# dependencies
node_modules/

# environment variables
.env
.env.local
.env*.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# build
dist/
build/
.next/

# Vercel
.vercel
